﻿﻿﻿﻿{% extends 'layout/base.html' %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>Yaumi Alfadha</title>
<link href="http://fonts.googleapis.com/css?family=Raleway:700,300" rel="stylesheet"
        type="text/css">

</head>
{% block content %}
<body onload="myFunction2()" style="margin:0";>

<div class="se-pre-con" id='loader'></div>
<div class="wrapper" id = "coba">



    <div class="dropdown">
        <button class="dropbtn">Ganti Tema</button>
        <div class="dropdown-content">
          <a onclick="myFunction()">Biru</a>
          <a onclick="myFunction1()">Coklat</a>
        </div>
      </div> 
  
<section>
  <div class="container" id = 'container'>
    
    <div class="docs-content">
      <h2 class="entry-title"> Profile</h2>
    <div class = "biodata">  
    <img id="gambar" src="{% static "assets/img/yaumi.jpg" %}" alt="My image">
    <h3>Yaumi Alfadha<br>Jakarta, 28-03-1999</h3>
  </div>
  
  <button class="accordion">Pengalaman organisasi</button>
  <div class="panel">
    <ul>
      <div class='fuki' style='display:flex'>
        <li>FUKI </li>
        <img id="fuki" src="{% static "assets/img/fuki.jpg" %}">
      </div>
      <li>Compfest</li>
    </ul>
  </div>
  
  <button class="accordion">Aktifitas</button>
  <div class="panel">
    <ul>
      <li>Universitas Indonesia</li>
      <li>SMAN 38 Jakarta</li>
    </ul>
  </div>
  
  <button class="accordion">Prestasi</button>
  <div class="panel">
    <li>Masuk Fasilkom</li>
  </div>    
  
      
</section>
</div>
</body>
<script>
    function myFunction() {
        document.body.style.backgroundColor = "#26abe2";
        
    }
    function myFunction1() {
        document.body.style.backgroundColor = "brown";
        
    }
    var myVar;

    function myFunction2() {
      myVar = setTimeout(showPage, 3000);
    }
    function showPage() {
      document.getElementById("loader").style.display = "none";
      document.getElementById("coba").style.display = "block";
    }
    </script>

<script src="{% static "assets/js/accord.js" %}"></script> 
<script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js?lang=css&skin=sunburst"></script>


{% endblock content %}
</html>

