
#gambar{
    width: 40%;
    height: 50%;
}
body, html {
    margin: 0;
    padding: 0;
}

body, input,h1,h2,h3,h4,h5,h6 {
    font-family: "Raleway", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
    font-size: 18px;
}
body {
    line-height: 2;
    color: #444;
    background: #ededed;
}
img, iframe {
    max-width: 100%;
}
img {
    height:auto;
}

.wrapper { margin:20px 40px ; border-radius:4px; box-shadow:0 0 2px 2px rgba(155,155,155,0.1); border:1px solid #d3d3d3;}
header {
    width: 100%;
    overflow: hidden;
}

.container {
    width: auto;
    position: relative;
}

h1,h2,h3,h4,h5,h6 {
    margin: 10px 0;
    line-height: 20px;
    color: inherit;
    text-rendering: optimizelegibility;
}
h1,h2,h3 {
    line-height: 40px;
}
h2 {
    font-size: 22px;
    line-height: 1.2;
}
h3 {
    font-size: 24.5px;
}

a{
    -webkit-transition: all ease 150ms;
    -moz-transition: all ease 150ms;
    -o-transition: all ease 150ms;
    transition: all ease 150ms;
    text-decoration: none;
    color: #26abe2;
}
h1 {
    margin: 0;
    padding: 0;
    float: left;
}
header h2 {
    margin: 0 0 1em 0;
}
header h2.lone-header {
    margin: 0;
}
footer {
    text-align: center;
    padding: 1 em 0;
	background:#fff;
	border-radius:0 0 4px 4px;
}

footer p {
    margin: 0;
    color: #999;
}

/* Navigation Styles */
nav {
    background: #fff;
    padding: 0;
    min-height: 60px;
	border-radius: 5px 5px 0 0;
}

nav a {
    padding: 0 1em;
	text-decoration:none !important;
	font-size: .9em;
    height: 60px;
    line-height: 60px;
    display: block;
}

nav h1 a {
    padding: 7px 1em;
    height: 46px;
    line-height: 0;
	height: 45px;
	line-height: 60px;
	color: #000;
}

nav h1 a img {   margin-right: 10px;
  float: left;
  margin-top: 9px;
  }
  
 nav h1 a  span {
	float: left;
    margin-top: -6px;
    font-size: 28px;
}

nav a:active {
    color: #fff;
    cursor: default;  
}
nav ul.site {
    padding: 20px 0 0 0;
}

@media only screen and (min-width: 680px) {
    nav, nav #menu {
        height: 60px !important;
    }
    nav li, nav a {
        float: left;
    }
    nav ul.site {
        float: left;
        padding: 0;
        clear: none;
    }

    nav ul.site li {
        margin: 0 0 0 10px;
    }

    nav #menu-toggle {
        display: none !important;
    }

    nav #menu {
        max-height: 9999px;
        clear: none;
    }
}

/* Content Styles */
section { padding: 1em 0 3em; text-align: center; }
section.vibrant { background: #222; color: #fff; }
section.vibrant h4{  
  line-height: 2;
  font-weight: normal;
  width: 90%;
  margin: 0 auto;
  }

@media only screen and (min-width: 400px) {

}

@media only screen and (min-width: 600px) {

}

@media only screen and (min-width: 960px) {
        .docs-nav {
        position: absolute;
        top: 0;
        width: 220px;

        -webkit-transition: top linear 50ms;
        -moz-transition: top linear 50ms;
        -o-transition: top linear 50ms;
        transition: top linear 50ms;
    }

    .docs-nav.fixed {
        position: fixed;
        top: 49px;
        width: 220px;
    }

    .docs-nav .separator {
        height: 20px;
    }

    .docs-content {
        padding-left: 310px;
    }
    header {
        padding: 1em 0 1em 0; 
    }

    .container {
        max-width: 100%;
        padding: 0 20px;
    }

    section { padding: 3em 0; text-align: left;   background: #fff;}
    section.centered {
        text-align: center;
    }


}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #ccc;
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
#fuki{
    height: 20px;
    width : 20px;
}
.container{
    display: flex;
}
.hehe{
    margin-left: 20px;
}

.dropbtn {
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 100%;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown:hover .dropdown-content {
    display: block;
}